@model ProxyBaseModels.ProxyModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayForModel()</th>
        </tr>
    </thead>
</table>
