@using ProxyBaseModels;
@model IEnumerable<ProxyModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table>
    <thead>
        <tr>
            <th>Html.DisplayNameFor(m => m.Ip)</th>
            <th>Html.DisplayNameFor(m => m.Port)</th>
            <th>Html.DisplayNameFor(m => m.Port)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(ProxyModel itm in Model) {
            <tr>
                <td>@Html.DisplayFor(m => itm.Id)</td>
                <td>@Html.DisplayFor(m => itm.Ip)</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@itm.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Ну всё!</th>
        </tr>
    </tfoot>
</table>
